@using Notice.Web.ViewModels
@model LessonsViewModel
@{
    ViewData["Title"] = "View schedule";
}

@section Head {
    <link rel="stylesheet" href="~/css/style.css">
}

<div class="flex">
    <div class="left">
        <button class="btn"><a class="link" asp-controller="Schedule" asp-action="AddSchedule">Add Schedule</a></button>
        <h3 class="filter"><i>Filtering</i></h3>
        <button class="btn" onclick="ShowClass()">Class</button>
        <div class="hide" id="hidetwo">
            <div class="check">
                <input type="checkbox" id="1">
                <label for="1">1</label>
                <div class="check1">
                    <input type="checkbox" id="1A">
                    <label for="1A">1А</label>
                </div>
                <div class="check1">
                    <input type="checkbox" id="1Б">
                    <label for="1Б">1Б</label>
                </div>
            </div>
            <div class="check">
                <input type="checkbox" id="2">
                <label for="2">2</label>
                <div class="check1">
                    <input type="checkbox" id="2A">
                    <label for="2A">2А</label>
                </div>
                <div class="check1">
                    <input type="checkbox" id="2Б">
                    <label for="2Б">2Б</label>
                </div>
                <div class="check1">
                    <input type="checkbox" id="2B">
                    <label for="2B">2B</label>
                </div>
            </div>
            <div class="check">
                <input type="checkbox" id="3">
                <label for="3">2</label>
                <div class="check1">
                    <input type="checkbox" id="3A">
                    <label for="3A">3А</label>
                </div>
                <div class="check1">
                    <input type="checkbox" id="3Б">
                    <label for="3Б">3Б</label>
                </div>
                <div class="check1">
                    <input type="checkbox" id="3B">
                    <label for="3B">3B</label>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="sear">
            <div class="search">
                <label for="find">Find</label>
                <input type="text" id="find">
            </div>
        </div>
        <div class="classes">
            <div>
                @foreach (var lesson in Model.lessons)
                {
                    string classname = "";
                    if (classname != lesson.ClassName)
                    {
                        classname = lesson.ClassName;
                        <div class="class">
                            <div class="user-text left_user">
                                <h2>@classname</h2>
                            </div>
                        </div>
                    }
                }

                    <div class="shedule_day">
                        <table>
                            <tr>
                                <th>№</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                            </tr>
                            @foreach (var lesson in Model.lessons)
                            {
                                


                                <tr>
                                    @if (lesson.DayOfWeek == "Mon")
                                    {
                                        <td>@lesson.NumberOfLesson</td>
                                        <td>
                                            @lesson.Subject<br>
                                            @lesson.Classroom<br>
                                            @lesson.FullTeacherName
                                        </td>
                                    }
                                </tr>


                                <tr>
                                    @if (lesson.DayOfWeek == "Tue")
                                    {
                                        <td>@lesson.NumberOfLesson</td>
                                        <td>
                                            @lesson.Subject<br>
                                            @lesson.Classroom<br>
                                            @lesson.FullTeacherName
                                        </td>

                                    }
                                </tr>

                                <tr>
                                    @if (lesson.DayOfWeek == "Wed")
                                    {
                                        <td>@lesson.NumberOfLesson</td>
                                        <td>
                                            @lesson.Subject<br>
                                            @lesson.Classroom<br>
                                            @lesson.FullTeacherName
                                        </td>

                                    }
                                </tr>
                                <tr>
                                    @if (lesson.DayOfWeek == "Thu")
                                    {

                                        <td>@lesson.NumberOfLesson</td>
                                        <td>
                                            @lesson.Subject<br>
                                            @lesson.Classroom<br>
                                            @lesson.FullTeacherName
                                        </td>

                                    }
                                </tr>
                                <tr>
                                    @if (lesson.DayOfWeek == "Fri")
                                    {

                                        <td>@lesson.NumberOfLesson</td>
                                        <td>
                                            @lesson.Subject<br>
                                            @lesson.Classroom<br>
                                            @lesson.FullTeacherName
                                        </td>

                                    }
                                </tr>



                            }
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin.js"></script>
}